@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Ovo&display=swap");
html {
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

h1 {
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font: inherit;
  line-height: 1px;
}

::-webkit-scrollbar {
  background-color: #E5E3E2;
  width: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(154, 122, 160, 0.5);
  border-radius: 6px;
}

.mySwiper-main-banner .swiper {
  width: 100%;
  height: 100%;
}
.mySwiper-main-banner .swiper-slide {
  text-align: center;
}
.mySwiper-main-banner .swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper-varieties-gemstones {
  width: calc(100% - 400px);
}
.mySwiper-varieties-gemstones .swiper-slide {
  text-align: center;
  height: 250px;
}
.mySwiper-varieties-gemstones .swiper-slide .item-gemstone img {
  margin-bottom: 24px;
  display: flex;
  width: 133px;
  height: 133px;
  object-fit: cover;
}
.mySwiper-varieties-gemstones .swiper-slide .item-gemstone .text-types-gemstones {
  font-size: 0.875rem;
  font-weight: 400;
  color: #9a7aa0;
}
.mySwiper-varieties-gemstones .swiper-pagination {
  top: 220px;
}

.container_releases {
  margin-bottom: 150px;
}
.container_releases .swiper-slide {
  padding: 9px;
}
.container_releases .releases.container-center .container_wrapper {
  position: relative;
  max-width: 1032px;
  display: flex;
  align-items: center;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases {
  position: static;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .content_releases-item-image {
  display: flex;
  flex-direction: column;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .content_releases-item-image .image img {
  width: 100%;
  display: flex;
  height: auto;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .content_releases-item-image .image-selo {
  width: 100%;
  margin-bottom: 20px;
  height: 28px;
  display: flex;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .content_releases-item-image .image-selo .image-selo-news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #8D94BA;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .content_releases-item-image .image-selo .image-selo-free-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #542D84;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .name-item {
  width: 100%;
  height: 100px;
  text-align: center;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .value-item .value {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #8D94BA;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .value-item .p_text-secundary-name {
  margin-bottom: 24px;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .p_text-primary-name {
  font-size: 1.125rem;
  font-weight: 400;
  color: #9A7AA0;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .p_text-secundary-name {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: #9A7AA0;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #749497;
  width: 100%;
  height: 48px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 1.125pxrem;
  font-weight: 700;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-wrapper .content_releases-item .button-buy:hover {
  background-color: rgba(116, 148, 151, 0.8);
  letter-spacing: 0.5px;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-button-next {
  right: -100px;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-button-prev {
  left: -100px;
}
.container_releases .releases.container-center .container_wrapper .mySwiper-content_releases .swiper-pagination {
  bottom: -50px;
}

.container_category-banner .container_swiper-category-banner {
  position: relative;
  display: flex;
}
.container_category-banner .container_swiper-category-banner .swiper {
  position: static;
}
.container_category-banner .container_swiper-category-banner .swiper .swiper-wrapper {
  max-width: 510px;
}
.container_category-banner .container_swiper-category-banner .swiper .swiper-wrapper .swiper-slide .image {
  display: flex;
  width: 100%;
  height: auto;
}
.container_category-banner .container_swiper-category-banner .swiper .swiper-button-next {
  right: -80px;
}
.container_category-banner .container_swiper-category-banner .swiper .swiper-button-prev {
  left: -80px;
}
.container_category-banner .container_swiper-category-banner .swiper .swiper-pagination {
  bottom: -55px;
}

:root {
  --swiper-theme-color: #542d84;
  --swiper-navigation-size: 30px;
  --swiper-pagination-color: #8d94ba;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8d94ba;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(141, 148, 186, 0.3);
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.container-center {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1480px) {
  .container-center {
    max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}

.text-strong {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}
.header .container_top-bar {
  background-color: #614B65;
}
.header .container_top-bar .top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container_top-bar .top-bar .p_top-bar {
  padding: 7px 0px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #614B65;
}
.header .container_top-menu {
  background-color: #9A7AA0;
}
.header .container_top-menu nav.top-menu {
  padding: 22px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container_top-menu nav.top-menu .container_mega-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container_top-menu nav.top-menu .container_mega-menu .mega-menu-padding {
  padding: 0 15px;
  cursor: pointer;
}
.header .container_top-menu nav.top-menu .container_mega-menu .mega-menu-item {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}
.header .container_top-menu nav.top-menu .container_mega-menu .title .h1 {
  padding: 0 15px;
  font-family: "Ovo", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  color: #ffffff;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 {
  display: flex;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 {
  position: relative;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 > a {
  padding: 0 15px;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1:nth-last-child(-n+3) .menu_container-2 {
  right: 0;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1:nth-last-child(-n+3) .menu_container-3 {
  left: 0;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1:hover > a {
  color: #413543;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1:hover .menu_container-2 {
  opacity: 1;
  visibility: visible;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 {
  position: absolute;
  top: 49px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 {
  overflow-y: auto;
  padding: 12px 0;
  width: 240px;
  max-height: 380px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 6px solid #614b65;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2::before {
  content: "";
  display: block;
  position: absolute;
  height: 30px;
  width: 100%;
  left: 0;
  bottom: 100%;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2 {
  display: flex;
  padding: 10px 0 10px 23px;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2 > a {
  width: 100%;
  text-transform: capitalize;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #302E2B;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2:hover {
  background-color: #f1f1f1;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2:hover .menu_container-3 {
  opacity: 1;
  visibility: visible;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2 .menu_container-3 {
  position: absolute;
  left: 100%;
  top: 0px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2 .menu_container-3 ul.level-3 {
  padding: 12px 0;
  overflow-y: auto;
  background-color: rgba(154, 122, 160, 0.95);
  border-top: 6px solid #614b65;
  width: 240px;
  max-height: 380px;
  height: 100%;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2 .menu_container-3 ul.level-3 li.level-3 {
  display: flex;
  padding: 5px 0 10px 23px;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2 .menu_container-3 ul.level-3 li.level-3 > a {
  width: 100%;
  text-transform: capitalize;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #ffffff;
}
.header .container_top-menu nav.top-menu .container_mega-menu .container_menu .menu_container-1 ul.level-1 li.level-1 .menu_container-2 ul.level-2 li.level-2 .menu_container-3 ul.level-3 li.level-3:hover {
  background-color: #614b65;
}

main .container_benefits {
  margin-bottom: 44px;
  background-color: #614B65;
}
main .container_benefits .container_benefits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
main .container_benefits .container_benefits-list .container_benefits-list-item .benefits-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container_benefits .container_benefits-list .container_benefits-list-item .benefits-list-item-link .benefits-image-margin {
  margin-right: 15px;
}
main .container_benefits .container_benefits-list .container_benefits-list-item .benefits-list-item-link .benefits-text {
  margin-right: 50px;
}
main .container_benefits .container_benefits-list .container_benefits-list-item .benefits-list-item-link .benefits-text .p_benefits-text {
  font-size: 0.75rem;
  font-weight: 300;
  color: #ffffff;
}
main .container_benefits .container_benefits-list .container_benefits-list-item .benefits-list-item-link .benefits-text .p_benefits-text:first-child {
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}
main .container_varieties-gemstones .varieties-gemstones .varieties-gemstone-title {
  margin-bottom: 22px;
}
main .container_varieties-gemstones .varieties-gemstones .varieties-gemstone-title .p_title-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #5C5762;
}
main .container_releases .releases .container_releases-title {
  margin: 75px 0 20px 0;
}
main .container_releases .releases .container_releases-title .p_title-text {
  text-align: center;
  font-size: 1.5rem;
  color: #5C5762;
  font-weight: 400;
}
main .container_category-banner .content-category-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 1150px;
}
main .container_category-banner .content-category-banner .category-banner-text {
  text-align: center;
  max-width: 450px;
}
main .container_category-banner .content-category-banner .category-banner-text .text-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #9A7AA0;
}
main .container_category-banner .content-category-banner .category-banner-text .text-title-big {
  margin-bottom: 15px;
  font-size: 42px;
  font-weight: 400;
  color: #8D94BA;
}
main .container_category-banner .content-category-banner .category-banner-text .text-paragraph {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  color: #9A7AA0;
}
main .container_category-banner .content-category-banner .category-banner-text .text-button {
  border: 1px solid #8D94BA;
  background-color: #fff;
  border-radius: 10px;
  width: 133px;
  height: 38px;
  color: #8D94BA;
  font-size: 14px;
  font-weight: 400;
  color: #8D94BA;
}

/*# sourceMappingURL=style.css.map */
