@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Ovo&display=swap");
html {
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

h1 {
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font: inherit;
  line-height: 1px;
}

::-webkit-scrollbar {
  background-color: #ffffff;
  width: 10px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(141, 148, 186, 0.5);
  border-radius: 6px;
}

.mySwiper-main-banner .swiper {
  width: 100%;
  height: 100%;
}
.mySwiper-main-banner .swiper-slide {
  text-align: center;
}
.mySwiper-main-banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper-varieties-gemstones {
  width: calc(100% - 400px);
}
.mySwiper-varieties-gemstones html,
.mySwiper-varieties-gemstones body {
  position: relative;
  height: 100%;
}
.mySwiper-varieties-gemstones .swiper-slide {
  text-align: center;
  height: 250px;
}
.mySwiper-varieties-gemstones .swiper-slide .item-gemstone img {
  margin-bottom: 24px;
  display: flex;
  width: 133px;
  height: 133px;
  object-fit: cover;
}
.mySwiper-varieties-gemstones .swiper-slide .item-gemstone .text-types-gemstones {
  font-size: 0.875rem;
  font-weight: 400;
  color: #9a7aa0;
}
.mySwiper-varieties-gemstones .swiper-pagination {
  top: 220px;
}

.mySwiper-content-releases {
  position: static;
  width: calc(100% - 426px);
}
.mySwiper-content-releases .swiper-slide .content-image .image {
  width: 100%;
  height: 100%;
  display: flex;
}
.mySwiper-content-releases .swiper-button-next {
  right: 120px;
  margin: 0;
}
.mySwiper-content-releases .swiper-button-prev {
  left: 120px;
  margin: 0;
}
.mySwiper-content-releases .swiper-pagination {
  top: 680px;
}

:root {
  --swiper-theme-color: #542d84;
  --swiper-navigation-size: 30px;
  --swiper-pagination-color: #8d94ba;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8d94ba;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(141, 148, 186, 0.3);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin: 0 134px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header .container_top-bar {
  background-color: #614B65;
}
.header .container_top-bar .top-bar {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1480px) {
  .header .container_top-bar .top-bar {
    max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}
.header .container_top-menu {
  background-color: #9A7AA0;
}
.header .container_top-menu nav.top-menu {
  padding: 22px 0;
  display: block;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1480px) {
  .header .container_top-menu nav.top-menu {
    max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}
.header .container_top-menu nav.top-menu ul.header_mega-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container_top-menu nav.top-menu ul.header_mega-menu .mega-menu-padding {
  padding: 0 15px;
  cursor: pointer;
}
.header .container_top-menu nav.top-menu ul.header_mega-menu .mega-menu-item {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}
.header .container_top-menu nav.top-menu ul.header_mega-menu .title .h1 {
  padding: 0 15px;
  font-family: "Ovo", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
