@use "sass:math";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-var($justify-content: center, $aling-intems: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $aling-intems;
}

@function calculator-rem($font-size){
    $size: math.div($font-size, 16);
    @return $size + rem;
}

@mixin container-center($max-width: $max-width, $margin-mobile: 20px) {
	display: block;
    width: 100%;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;

	@media screen and(max-width: $max-width + 2*$margin-mobile) {
		max-width: calc(100% - #{2 * $margin-mobile});
		margin-left: $margin-mobile;
		margin-right: $margin-mobile;
	}
}
