html {
    width: 100vw;
    overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
    
}

body {
    width: 100%;
    overflow-x: hidden;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	text-decoration: none;
	background: none;
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

h1{
    vertical-align: baseline;
    border: 0;
    outline: 0;
    font: inherit;
    line-height: 1px;
}

::-webkit-scrollbar {
    background-color: #ffffff;
    width: 10px;
    border-radius: 6px;
} 

::-webkit-scrollbar-thumb {
    background-color: rgba($color: #8D94BA, $alpha: 0.5);
    border-radius: 6px;
}
