.mySwiper-main-banner {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
    }

    .swiper-slide img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// --------------------------

.mySwiper-varieties-gemstones {
    width: $medium-width + 42px;
    .swiper-slide {
        text-align: center;
        height: 250px;

        .item-gemstone {
            img {
                margin-bottom: 24px;
                display: flex;
                width: 133px;
                height: 133px;
                object-fit: cover;
            }

            .text-types-gemstones {
                font-size: calculator-rem(14);
                font-weight: 400;
                color: #9a7aa0;
            }
        }
    }

    .swiper-pagination {
        top: 220px;
    }
}

//  ----------------------------------

.container_releases {
    .content_releases {
        max-width: $medium-width;
    }

    .container-center {
        .content_releases {
            .swiper {
                .swiper-button-next {
                    right: -100px;
                }

                .swiper-button-prev {
                    left: -100px;
                }

                .swiper-pagination {
                    bottom: -50px;
                }
            }
        }
    }
}

//  ----------------------------------

.container_category-banner {
    .container_swiper-category-banner {
        position: relative;
        display: flex;
        .swiper {
            position: static;
            .swiper-wrapper {
                max-width: 510px;
                .swiper-slide {
                    .image {
                        display: flex;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .swiper-button-next {
                right: -80px;
            }

            .swiper-button-prev {
                left: -80px;
            }

            .swiper-pagination {
                bottom: -55px;
            }
        }
    }
}

//  ----------------------------------

.container_shelf-best-price {
    .content_best-price {
        max-width: $medium-width;
    }

    .swiper {
        .swiper-button-next {
            right: -100px;
        }

        .swiper-button-prev {
            left: -100px;
        }

        .swiper-pagination {
            bottom: -50px;
        }
    }
}

//  ----------------------------------

.container_shelf-highlights {
    .content_highlights {
        max-width: 498px;
    }

    .swiper {
        .swiper-button-next {
            right: -70px;
        }

        .swiper-button-prev {
            left: -70px;
        }

        .swiper-pagination {
            bottom: -50px;
        }
    }

}

//  ----------------------------------

.swiper-style-shelf {
    position: relative;
    display: flex;
    align-items: center;

    .swiper {
        width: 100%;
        position: static;

        .swiper-wrapper {
            .swiper-slide {
                .wrapper-image {
                    display: flex;
                    flex-direction: column;

                    .image {
                        width: 100%;
                        display: flex;
                        .img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .image-selo {
                        width: 100%;
                        margin-bottom: 20px;
                        height: 28px;
                        display: flex;

                        .image-selo-news {
                            @include flex-center;
                            flex-grow: 1;

                            background-color: $bg-b-light-purple;
                            color: #fff;
                            font-size: calculator-rem(12);
                            font-weight: 800;
                        }

                        .image-selo-free-shipping {
                            @include flex-center;
                            flex-grow: 1;

                            background-color: $bg-b-dark-purple;
                            color: #fff;
                            font-size: calculator-rem(12);
                            font-weight: 800;
                        }
                    }
                }

                .wrapper-name {
                    width: 100%;
                    height: 100px;
                    text-align: center;
                }

                .wrapper-value {
                    .value {
                        text-align: center;
                        font-size: calculator-rem(24);
                        font-weight: 700;
                        color: $text-color-light-purple;
                    }

                    .p_text-secundary-name {
                        margin-bottom: 24px;
                    }
                }

                .button-buy {
                    @include flex-center;
                    background-color: $bg-b-green;
                    width: 100%;
                    height: 48px;
                    border-radius: 50px;
                    cursor: pointer;

                    color: #fff;
                    font-size: calculator-rem(18px);
                    font-weight: 700;

                    &:hover {
                        background-color: rgba($color: $bg-b-green, $alpha: 0.8);
                        letter-spacing: 0.5px;
                    }
                    .button {
                    }
                }

                .p_text-primary-name {
                    font-size: calculator-rem(18);
                    font-weight: 400;
                    color: $text-color-medium-purple;
                }
                .p_text-secundary-name {
                    text-align: center;
                    font-size: calculator-rem(14);
                    font-weight: 400;
                    color: $text-color-medium-purple;
                }
            }
        }
    }
}

//  ----------------------------------
:root {
    --swiper-theme-color: #542d84;
    --swiper-navigation-size: 30px;
    --swiper-pagination-color: #8d94ba;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8d94ba;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(141, 148, 186, 0.3);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    // margin: 0 134px;
}

// .swiper {
//     width: 100%;
//     display: flex;
//     overflow-x: hidden;
//     align-items: center;
//     position: relative;
//     .swiper-wrapper {
//         display: flex;
//     }
// }

// .swiper-button-next {
//     width: 50px;
//     height: 50px;
//     background-color: red;
//     position: absolute;
//     right: 0;
// }

// .swiper-button-prev {
//     width: 50px;
//     height: 50px;
//     background-color: red;
//     position: absolute;

// }
