.mySwiper-main-banner {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }    
}

// --------------------------

.mySwiper-varieties-gemstones {
    html,
    body {
        position: relative;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        height: 250px;

        .item-gemstone {
            img {
                margin-bottom: 24px;
                display: flex;
                width: 133px;
                height: 133px;
                object-fit: cover;
            }

            .text-types-gemstones {
                font-size: calculator-rem(14);
                font-weight: 400;
                color: #9a7aa0;
            }
        }        
    }

    .swiper-pagination {
        top: 220px;
    }

    width: calc(100% - 400px);
}


//  ----------------------------------

.mySwiper-content-releases {
    position: static;
    width: calc(100% - 426px);
    .swiper-slide {
        .content-image {
            .image {
                width: 100%;
                height: 100%;
                display: flex;
            }
        }
    }

    .swiper-button-next {
        right: 120px;
        margin: 0;
    }
    .swiper-button-prev {
        left: 120px;
        margin: 0;
        
    }

    .swiper-pagination {
        top: 680px;
    }
}

//  ----------------------------------

:root {
    --swiper-theme-color: #542d84;
    --swiper-navigation-size: 30px;
    --swiper-pagination-color: #8d94ba;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8d94ba;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(141, 148, 186, 0.3);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin: 0 134px;
}


// .swiper {
//     width: 100%;
//     display: flex;
//     overflow-x: hidden;
//     align-items: center;
//     position: relative;
//     .swiper-wrapper {
//         display: flex;
//     }
// }

// .swiper-button-next {
//     width: 50px;
//     height: 50px;
//     background-color: red;
//     position: absolute;
//     right: 0;
// }

// .swiper-button-prev {
//     width: 50px;
//     height: 50px;
//     background-color: red;
//     position: absolute;

// }