$bg-color-primary-color: #ffffff;
$bg-color-dark-purple: #614B65;
$bg-color-medium-purple: #9A7AA0;
$bg-color-light-green: #B4EDD2;

$bg-b-light-purple: #8D94BA;
$bg-b-dark-purple: #542D84;
$bg-b-green: #749497;

$text-color-white: #ffffff;
$text-color-dark-gray: #5C5762;
$text-color-medium-purple: #9A7AA0;
$text-color-light-purple: #8D94BA;
$text-color-hover-menu: #413543;

$text-color-dark-green: #3D4F46;
$text-color-black: #000000;
$text-color-menu-item: #302E2B;

$max-width: 1440px;
