@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Ovo&display=swap");

@import "_variables.scss";
@import "_mixins.scss";
@import "_reset.scss";
@import "_swiper.scss";

body {
    width: 100vw;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100vw;
    .container-center {
        @include flex-center;
        width: $max-width;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.header {
    .container {
        .container-top-bar {
            .top-bar {
                padding: 7px 0px;
                width: 100%;

                text-align: center;
                font-size: calculator-rem(12);
                font-weight: 300;
                text-transform: uppercase;
                color: $text-color-white;
                background-color: $bg-color-dark-purple;
            }
        }

        .container-top-menu {
            background-color: $bg-color-medium-purple;
            nav.top-menu {
                padding: 22px 0;
                ul.header-mega-menu {
                    @include flex-center;

                    .mega-menu-padding {
                        padding: 0 15px;
                        cursor: pointer;
                    }

                    .mega-menu-item {
                        color: $text-color-white;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: calculator-rem(14);
                    }

                    .title {
                        .h1 {
                            padding: 0 15px;
                            font-family: "Ovo", sans-serif;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: calculator-rem(48);
                            color: $text-color-white;
                        }
                    }
                }
            }
        }

        .container-header-benefits {
            margin-bottom: 44px;
            background-color: $bg-color-dark-purple;
            ul.header-benefits-list {
                @include flex-center;
                margin: 20px 0;

                li {
                    a {
                        @include flex-center;

                        .image-header-benefits-margin {
                            margin-right: 15px;
                        }
                        .text-header-benefits {
                            margin-right: 50px;
                            p {
                                &:first-child {
                                    font-weight: 600;
                                    font-size: calculator-rem(16);
                                    color: $text-color-white;
                                }

                                font-size: calculator-rem(12);
                                font-weight: 300;
                                color: $text-color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main {
    .container {
        background-color: $bg-color-primary-color;
        .container-varieties-gemstones {
            width: 100%;
            .title-varieties-gemstone {
                margin-bottom: 22px;
                p {
                    text-align: center;
                    font-size: calculator-rem(24);
                    font-weight: 300;
                    color: $text-color-dark-gray;

                    strong {
                        font-weight: 700;
                    }
                }
            }

            .list-gemstones {
                @include flex-center;

                .item-gemstone {
                    @include flex-center;
                    flex-direction: column;
                    margin: 0 19px 0 0;
                    img {
                        margin-bottom: 24px;
                        width: 133px;
                        height: 133px;
                    }
                    .text-types-gemstones {
                        font-size: calculator-rem(14);
                        font-weight: 400;
                        color: $text-color-medium-purple;
                    }
                }
            }
        }
    }

    .container {
        .container-releases {
            .title-releases {
                margin: 75px 0 20px 0;
                p {
                    text-align: center;
                    font-size: calculator-rem(24);
                    color: $text-color-dark-gray;
                    font-weight: 400;
                    strong {
                        font-weight: 700;
                    }
                }
            }

            .content-releases {
                @include flex-center;
                align-items: initial;
                
                .content-releases-item {
                    margin-right: 20px;
                    max-width: 240px;
                    max-height: 520px;

                    .content-image {
                        @include flex-center;
                        flex-direction: column;

                        .image {
                            display: flex;
                        }
    
                        .sub-image {
                            margin-bottom: 20px;
                            @include flex-center;
                            .news {
                                @include flex-center;
                                width: 120px;
                                height: 28px;
                                background-color: $bg-b-light-purple;
                                color: #fff;
                                font-size: calculator-rem(12);
                                font-weight: 800;
                            }
    
                            .free-shipping {
                                @include flex-center;
                                width: 120px;
                                height: 28px;
                                background-color: $bg-b-dark-purple;
                                color: #fff;
                                font-size: calculator-rem(12);
                                font-weight: 800;
                            }
                        }
                    }
    
                    .name-item {
                        margin-bottom: 46px;
                        text-align: center;
                        .primary-name {
                            font-size: calculator-rem(18);
                            font-weight: 400;
                            color: $text-color-medium-purple;                        
                        }
                    }
    
                    .secundary-name {
                        text-align: center;
                        font-size: calculator-rem(14);
                        font-weight: 400;
                        color: $text-color-medium-purple;  
                    }
    
                    .value-item {
                        .value {
                            text-align: center;
                            font-size: calculator-rem(24);
                            font-weight: 700;
                            color: $text-color-light-purple;
                        }
    
                        .secundary-name {
                            margin-bottom: 24px;
                        }
                    }
    
                    .button-buy {
                        @include flex-center;
                        background-color: $bg-b-green;
                        width: 240px;
                        height: 48px;
                        border-radius: 50px;
    
                        color: #fff;
                        font-size: calculator-rem(18px);
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
